.sidebar{
    flex: 1;
    height: calc(100vh - 3.5rem);
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 3.5rem;
    max-width: 14.5rem;
}
.sidebar-wrapper{
    padding: 1rem 0 0 0;
    color: rgb(80, 80, 80);
}
.sidebar-menu{
    margin-bottom: 1.3rem;
}
.sidebar-title{
    font-size:.7rem;
    padding-left: 1.3rem;
}
.sidebar-list{
    list-style: none;
    padding: 0.1rem;
    padding-bottom: 0;
}
.sidebar-list-item{
    margin: 0 0;
    padding: .5rem .3rem;
    padding-left: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.sidebar-list-item.active, .sidebar-list-item:hover{
    background-color: rgb(238, 238, 238);
}
.sidebar-icon{
    margin-right: 1.2rem;
    font-size: 1.5rem !important;
}
hr{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}